.diva{
  transition: all 2.5s ease-in-out;
  height: 200px;
  width: 200px;
  opacity: 1;
}
.div-1{
  background-color: blue;
  order: 1;
}

.div-2{
  background-color: red;
  order: 1;
}
.div-3{
  background-color: green;
  
  order: 1;
}
.zaka{
  width: 300px;
  background: black;
  opacity: 1;
  height: 300px;
  transition: 1.7s all ease;

}
.zaka:hover{
  opacity: 0;
}